<div class="container" >

    <div class="row" >

      <div class="col-xs-3">

	<%= render 'users/list', book: @book, user: current_user %>
</div>
<% if @book.errors.any? %>
   <strong> error 投稿されませんでした </strong>
<% end %>

		<div class="col-xs-9" >
			<h2> Books </h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Image</th>
						<th>Title</th>
						<th>Opinion</th>
						
					</tr>
				</thead>
				<tbody>
				<% @books.each do |book| %>
					<tr>
						<td>
							<%= attachment_image_tag book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
						</td>
						<td>
							<%= link_to book.title, book_path(book.id), class: "book_#{book.id}" %>
						</td>
						
						<td>
							<%= book.opinion %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>

